<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>com.hermass.daily-pipeline</string>
    <key>Program</key>
    <string>/Users/lv111101/Documents/hermass-observer-product/scripts/run_daily_pipeline.sh</string>
    <!--
      注意：launchd 使用系统本地时间 (PDT, UTC-7)
      北京时间 CST (UTC+8) 15:15 = PDT 00:15 (当天凌晨)
      以下配置为北京时间 15:15 执行
    -->
    <key>StartCalendarInterval</key>
    <array>
        <dict>
            <key>Weekday</key>
            <integer>1</integer>
            <key>Hour</key>
            <integer>0</integer>
            <key>Minute</key>
            <integer>15</integer>
        </dict>
        <dict>
            <key>Weekday</key>
            <integer>2</integer>
            <key>Hour</key>
            <integer>0</integer>
            <key>Minute</key>
            <integer>15</integer>
        </dict>
        <dict>
            <key>Weekday</key>
            <integer>3</integer>
            <key>Hour</key>
            <integer>0</integer>
            <key>Minute</key>
            <integer>15</integer>
        </dict>
        <dict>
            <key>Weekday</key>
            <integer>4</integer>
            <key>Hour</key>
            <integer>0</integer>
            <key>Minute</key>
            <integer>15</integer>
        </dict>
        <dict>
            <key>Weekday</key>
            <integer>5</integer>
            <key>Hour</key>
            <integer>0</integer>
            <key>Minute</key>
            <integer>15</integer>
        </dict>
    </array>
    <key>StandardOutPath</key>
    <string>/Users/lv111101/Documents/hermass-observer-product/logs/launchd_stdout.log</string>
    <key>StandardErrorPath</key>
    <string>/Users/lv111101/Documents/hermass-observer-product/logs/launchd_stderr.log</string>
    <key>EnvironmentVariables</key>
    <dict>
        <key>PATH</key>
        <string>/opt/homebrew/bin:/usr/local/bin:/usr/bin:/bin</string>
    </dict>
</dict>
</plist>
